* {
  box-sizing: border-box;
}

.gallery {
  list-style-type: none;
  padding-top: 24px;
  padding-left: 0;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 24px;
  max-width: calc((360px * 3) + (24px * 2));
}

.gallery-image {
  display: block;
  max-width: 360px;
  height: auto;
  cursor: pointer;
}

.gallery-image:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
